<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="chartjs/utils.js"></script>
<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>
<meta charset="UTF-8">
<title>XML - JSON Converter</title>

<style>
textarea{
	width:100%;
	height:400px;
}
</style>
</head>
<body>
	<div style="text-align:center;"><h2>XML - JSON Converter</h2></div>
	<div class="container-fluid" style="margin-top:20px;">
		<div>			
			<!-- buttons -->
			<ul class="nav nav-tabs">				
				<li id="id-xml-to-json"><a data-toggle="tab">XML to Json</a></li>	
						
				<li id="id-json-to-xml"><a data-toggle="tab">Json to XML</a></li>		
				
				<li id="id-status"><a data-toggle="tab">통계</a></li>		
			</ul>			
		</div>
		<div class="row">
			<!-- output -->
			<div>
				<div id="xml-to-json" style="display:none;position:relative;">					
					<div style="float:left;width:40%;margin-left:20px;"><h3>Input XML</h3>
						<textarea id="input-xml" style="float:left;"></textarea>
					</div>
					
					<button type="button" id="convert-xml-to-json" class="btn btn-primary" style="position:absolute;left:50%;top:240px;margin-left:-45px;">convert →</button>
					
					<div style="float:right;width:40%;margin-right:20px;"><h3>Output Json</h3>
						<textarea id="output-xml-to-json" style="float:right;"></textarea>
					</div>					
				</div>
				
				<div id="json-to-xml" style="display:none;position:relative;">
					<div style="float:left;width:40%;margin-left:20px;"><h3>Input Json</h3>
						<textarea id="input-json" style="float:left;"></textarea>
					</div>
					
					<button type="button" id="convert-json-to-xml" class="btn btn-danger" style="position:absolute;left:50%;top:240px;margin-left:-45px;">convert →</button>
					
					<div style="float:right;width:40%;margin-right:20px;"><h3>Output XML</h3>
						<textarea id="output-json-to-xml" style="float:right;"></textarea>
					</div>							
				</div>
			</div>
		</div>
		<div id="status-container" style="display:none;position:relative;margin-top:20px;">
			<div>
				<div class="panel panel-info" style="float:left;width:40%;margin-left:10px;">
					<div class="panel-heading">XML to Json</div>
					<div class="panel-body" id="xtoj-status-show"></div>				
				</div>			
				<div class="panel panel-danger" style="float:right;width:40%;margin-right:10px;">
					<div class="panel-heading">Json to XML</div>
					<div class="panel-body" id="jtox-status-show"></div>
				</div>	
			</div>	
			
			<div id="container" style="width:300px;float:left;">
				<canvas id="xtoj_chart" style="float:left;"></canvas>				
			</div>
			<div id="container" style="width:300px;float:right;">
				<canvas id="jtox_chart" style="float:right;"></canvas>
			</div>		
		</div>		
		
	</div>
</body>

<script>

$("#id-xml-to-json").on("click",function(){
	$("#output-xml-to-json").empty();
	$("#xml-to-json").show();
	$("#json-to-xml").hide();
	$("#status-container").hide();
});

$("#id-json-to-xml").on("click",function(){
	$("#xml-to-json").hide();
	$("#output-json-to-xml").empty();
	$("#json-to-xml").show();
	$("#status-container").hide();
});

var url = "http://localhost:8080/";

var xml2json = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "xml2json",   
	    data: _data,
	    contentType : "application/xml",
	    cache: false,
		success : function(data) {
			var tagCut = JSON.stringify(data,null).substring(13,JSON.stringify(data,null).length-1);
			var modData = JSON.parse(tagCut);
			$("#output-xml-to-json").val(JSON.stringify(modData,null,4));
	    	$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"success"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		},
		error : function(){
			$("#output-xml-to-json").val("xml2json error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

var json2xml = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "json2xml",   
	    data: _data,
	    contentType : "application/json",
	    cache: false,
		success : function(data) {  
			var xmlText = new XMLSerializer().serializeToString(data);
			if (xmlText == '<xxtemptag/>'){
				$("#output-json-to-xml").val("json2xml error");
				$.ajax({
		    		type: "GET",
		    		url: url + "mark",
		    		data: {jsontoxml:"fail"},
		    		contentType: "text",
		    		success:function(data){}
		    	});
			}else{
				xmlText = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n"+xmlText.substring(12,xmlText.length-13);
				$("#output-json-to-xml").val(xmlText);
		    	$.ajax({
		    		type: "GET",
		    		url: url + "mark",
		    		data: {jsontoxml:"success"},
		    		contentType: "text",
		    		success:function(data){}
		    	});
			}			
		},
		error : function(){
			$("#output-json-to-xml").val("json2xml error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {jsontoxml:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

function getStatus(){
	$.getJSON(url+"status", function(data){	
		var xtoj_success = data["XML-to-Json"]["success"];
		var xtoj_fail = data["XML-to-Json"]["fail"];
		$("#xtoj-status-show").html("성공: "+xtoj_success+" 실패: "+xtoj_fail);
		var jtox_success = data["Json-to-XML"]["success"];
		var jtox_fail = data["Json-to-XML"]["fail"];
		$("#jtox-status-show").html("성공: "+jtox_success+" 실패: "+jtox_fail);
		createChart(xtoj_success,xtoj_fail,jtox_success,jtox_fail);
	});		
}

$("#convert-xml-to-json").on("click",function(){
	var data = $("#input-xml").val();	
	xml2json(data);
});

$("#convert-json-to-xml").on("click",function(){
	var data = $("#input-json").val();	
	json2xml(data);
});

$("#id-status").on("click",function(){
	getStatus();
	$("#xml-to-json").hide();
	$("#json-to-xml").hide();
	$("#status-container").show();	
});

function createChart(xtojs,xtojf,jtoxs,jtoxf){
	var ctx = document.getElementById("xtoj_chart");
	var myChart = new Chart(ctx, {
	    type: 'pie',
	    data: {
	        labels: ["성공", "실패"],
	        datasets: [{            
	            data: [
					xtojs,
					xtojf
				],
	            backgroundColor: [	
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 99, 132, 0.2)'
	            ],
	            borderColor: [
	            	'rgba(54, 162, 235, 1)',
	            	'rgba(255,99,132,1)'
	            ],
	            borderWidth: 1
	        }]
	    }
	});	

	var ctx = document.getElementById("jtox_chart");
	var myChart = new Chart(ctx, {
	    type: 'pie',
	    data: {
	        labels: ["성공", "실패"],
	        datasets: [{            
	            data: [
					jtoxs,
					jtoxf
				],
	            backgroundColor: [	
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 99, 132, 0.2)'
	            ],
	            borderColor: [
	            	'rgba(54, 162, 235, 1)',
	            	'rgba(255,99,132,1)'
	            ],
	            borderWidth: 1
	        }]
	    }
	});	
}

</script>

</html>