<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>GUIDE</title>

<style>
textarea{
	width:40%;
	height:250px;
}
</style>
</head>
<body>
	<div class="container-fluid" style="margin-top:20px;">
		<div class="row">			
			<!-- buttons -->
			<div>				
				<button id="id-xml-to-json" type="button" class="btn btn-primary btn-block" style="margin-left:20px;float:left;width:40%;">xml to json</button>	
						
				<button id="id-json-to-xml" type="button" class="btn btn-danger btn-block" style="margin-right:20px;margin-top:0px;float:right;width:40%;">json to xml</button>				
			</div>			
		</div>
		<div class="row" style="margin-top:20px;">
			<!-- output -->
			<div>
				<div id="xml-to-json" style="display:none;position:relative;">
					<textarea id="input-xml" placeholder="input XML" style="margin-left:20px;float:left;"></textarea>
					<button type="button" id="convert-xml-to-json" style="position:absolute;float:center;left:50%;top:110px;margin-left:-30px;">convert</button>
					<textarea id="output-xml-to-json" placeholder="output JSON" style="margin-right:20px;float:right;"></textarea>
				</div>
				
				<div id="json-to-xml" style="display:none;position:relative;">
					<textarea id="input-json" placeholder="input JSON" style="margin-left:20px;float:left;"></textarea>
					<button type="button" id="convert-json-to-xml" style="position:absolute;left:50%;top:110px;margin-left:-30px;">convert</button>
					<textarea id="output-json-to-xml" placeholder="output XML" style="margin-right:20px;float:right;"></textarea>
					
				</div>
			</div>
		</div>
	</div>
</body>

<script>

$("#id-xml-to-json").on("click",function(){
	$("#output-xml-to-json").empty();
	$("#xml-to-json").show();
	$("#json-to-xml").hide();
});

$("#id-json-to-xml").on("click",function(){
	$("#xml-to-json").hide();
	$("#output-json-to-xml").empty();
	$("#json-to-xml").show();
});

var url = "http://localhost:8080/";

var xml2json = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "xml2json",   
	    data: _data,
	    contentType : "application/xml",
	    cache: false,
		success : function(data) {   
	    	$("#output-xml-to-json").val(JSON.stringify(data,null,4));
	    	$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"success"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		},
		error : function(){
			$("#output-xml-to-json").val("xml2json error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

var json2xml = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "json2xml",   
	    data: _data,
	    contentType : "application/json",
	    cache: false,
		success : function(data) {  
			var xmlText = new XMLSerializer().serializeToString(data);
			xmlText = xmlText.substring(0,38)+"\n"+xmlText.substring(38);
	    	$("#output-json-to-xml").val(xmlText);
	    	$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {jsontoxml:"success"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		},
		error : function(){
			$("#output-json-to-xml").val("json2xml error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {jsontoxml:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

$("#convert-xml-to-json").on("click",function(){
	var data = $("#input-xml").val();

	xml2json(data);
});

$("#convert-json-to-xml").on("click",function(){
	var data = $("#input-json").val();

	json2xml(data);
});
</script>

</html>