<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<!-- chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="chartjs/utils.js"></script>
<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>
<meta charset="UTF-8">
<title>XML - JSON Converter</title>

<style>
textarea{
	width:100%;
	height:400px;
}
</style>
</head>
<body>
	<div style="text-align:center;margin-top:20px;"><h2>XML - JSON Converter</h2></div>
	<div class="container-fluid" style="margin-top:20px;">
		<div>			
			<!-- buttons -->
			<ul class="nav nav-tabs" role="tablist">				
				<li class="nav-item" id="id-xml-to-json"><a class="nav-link" data-toggle="tab" href="">XML to Json</a></li>	
						
				<li class="nav-item" id="id-json-to-xml"><a class="nav-link" data-toggle="tab" href="">Json to XML</a></li>		
				
				<li class="nav-item" id="id-status"><a class="nav-link" data-toggle="tab" href="">통계</a></li>		
			</ul>			
		</div>
		<div style="margin-top:20px;">
			<!-- output -->
			<div>
				<div id="xml-to-json" style="display:none;position:relative;">					
					<div style="float:left;width:40%;margin-left:20px;">
						<h3>Input XML <button type="button" class="btn btn-outline-primary btn-sm" id="input-xml-empty">지우기</button></h3>				
						<textarea id="input-xml" style="float:left;"></textarea>
					</div>
					
					<button type="button" id="convert-xml-to-json" class="btn btn-primary" style="position:absolute;left:50%;top:240px;margin-left:-49px;">convert →</button>
					
					<div style="float:right;width:40%;margin-right:20px;">
						<h3>Output Json <button type="button" class="btn btn-outline-primary btn-sm" id="output-json-empty">지우기</button></h3>
						<textarea id="output-xml-to-json" style="float:right;"></textarea>
					</div>					
				</div>
				
				<div id="json-to-xml" style="display:none;position:relative;">
					<div style="float:left;width:40%;margin-left:20px;">
						<h3>Input Json <button type="button" class="btn btn-outline-danger btn-sm" id="input-json-empty">지우기</button></h3>
						<textarea id="input-json" style="float:left;"></textarea>
					</div>
					
					<button type="button" id="convert-json-to-xml" class="btn btn-danger" style="position:absolute;left:50%;top:240px;margin-left:-49px;">convert →</button>
					
					<div style="float:right;width:40%;margin-right:20px;">
						<h3>Output XML <button type="button" class="btn btn-outline-danger btn-sm" id="output-xml-empty">지우기</button></h3>
						<textarea id="output-json-to-xml" style="float:right;"></textarea>
					</div>							
				</div>
			</div>
		</div>
		<div id="status-container" style="display:none;position:relative;margin-top:20px;">
			<div>
				<div class="card border-primary" style="float:left;width:40%;margin-left:10px;">
					<div class="card-header bg-primary border-primary text-white">XML to Json</div>
					<div class="card-body" id="xtoj-status-show"></div>				
				</div>			
				<div class="card border-danger" style="float:right;width:40%;margin-right:10px;">
					<div class="card-header bg-danger border-danger text-white">Json to XML</div>
					<div class="card-body" id="jtox-status-show"></div>
				</div>	
			</div>	
			
			<div id="xtoj_container" style="width:40%;float:left;">
				<canvas id="xtoj_chart"></canvas>				
			</div>
			<div id="jtox_container" style="width:40%;float:right;margin-right:20px;">
				<canvas id="jtox_chart"></canvas>
			</div>		
		</div>		
		
	</div>
</body>

<script>

$("#input-xml-empty").on("click",function(){
	$("#input-xml").val("");
});
$("#output-json-empty").on("click",function(){
	$("#output-xml-to-json").val("");
});
$("#input-json-empty").on("click",function(){
	$("#input-json").val("");
});
$("#output-xml-empty").on("click",function(){
	$("#output-json-to-xml").val("");
});

$("#id-xml-to-json").on("click",function(){
	$("#xml-to-json").show();
	$("#json-to-xml").hide();
	$("#status-container").hide();
});

$("#id-json-to-xml").on("click",function(){
	$("#xml-to-json").hide();
	$("#json-to-xml").show();
	$("#status-container").hide();
});

var url = "http://localhost:8080/";

var xml2json = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "xml2json",   
	    data: _data,
	    contentType : "application/xml",
	    cache: false,
		success : function(data) {
			var tagCut = JSON.stringify(data,null).substring(13,JSON.stringify(data,null).length-1);
			var modData = JSON.parse(tagCut);
			$("#output-xml-to-json").val(JSON.stringify(modData,null,4));
	    	$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"success"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		},
		error : function(){
			$("#output-xml-to-json").val("xml2json error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {xmltojson:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

var json2xml = function(_data){
	$.ajax({   
	    type: "POST",   
	    url: url + "json2xml",   
	    data: _data,
	    contentType : "application/json",
	    cache: false,
		success : function(data) {  
			var xmlText = new XMLSerializer().serializeToString(data);
			if (xmlText == '<xxtemptag/>'){
				$("#output-json-to-xml").val("json2xml error");
				$.ajax({
		    		type: "GET",
		    		url: url + "mark",
		    		data: {jsontoxml:"fail"},
		    		contentType: "text",
		    		success:function(data){}
		    	});
			}else{
				xmlText = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n"+xmlText.substring(12,xmlText.length-13);
				$("#output-json-to-xml").val(xmlText);
		    	$.ajax({
		    		type: "GET",
		    		url: url + "mark",
		    		data: {jsontoxml:"success"},
		    		contentType: "text",
		    		success:function(data){}
		    	});
			}			
		},
		error : function(){
			$("#output-json-to-xml").val("json2xml error");
			$.ajax({
	    		type: "GET",
	    		url: url + "mark",
	    		data: {jsontoxml:"fail"},
	    		contentType: "text",
	    		success:function(data){}
	    	});
		}
	});
}

function getStatus(){
	$.getJSON(url+"status", function(data){	
		var xtoj_success = data["XML-to-Json"]["success"];
		var xtoj_fail = data["XML-to-Json"]["fail"];
		$("#xtoj-status-show").html("성공: "+xtoj_success+" 실패: "+xtoj_fail);
		var jtox_success = data["Json-to-XML"]["success"];
		var jtox_fail = data["Json-to-XML"]["fail"];
		$("#jtox-status-show").html("성공: "+jtox_success+" 실패: "+jtox_fail);
		createChart(xtoj_success,xtoj_fail,jtox_success,jtox_fail);
	});		
}

$("#convert-xml-to-json").on("click",function(){
	var data = $("#input-xml").val();	
	xml2json(data);
});

$("#convert-json-to-xml").on("click",function(){
	var data = $("#input-json").val();	
	json2xml(data);
});

$("#id-status").on("click",function(){
	getStatus();
	$("#xml-to-json").hide();
	$("#json-to-xml").hide();
	$("#status-container").show();	
});

function createChart(xtojs,xtojf,jtoxs,jtoxf){
	$("#xtoj_chart").remove();
	$("#xtoj_container").append('<canvas id="xtoj_chart"><cnavas>');
	$("#jtox_chart").remove();
	$("#jtox_container").append('<canvas id="jtox_chart"><cnavas>');
	var ctx = document.getElementById("xtoj_chart");
	var myChart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: {
	        datasets: [{
	        	label: '성공',
	            data: [xtojs,0],
	            backgroundColor: 'rgba(11, 201, 4, 0.2)',
	            borderColor: 'rgba(11, 201, 4, 1)',
	            borderWidth: 1
	        }, {
	        	label: '실패',
	        	data: [xtojf,0],
	        	backgroundColor: 'rgba(255, 54, 54, 0.2)',
	        	borderColor: 'rgba(255, 54, 54, 1)',
	        	borderWidth: 1
	        	}
	       ]
		}
	});	

	var ctx = document.getElementById("jtox_chart");
	var myChart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: {
	        datasets: [{
	        	label: '성공',
	            data: [jtoxs,0],
	            backgroundColor: 'rgba(11, 201, 4, 0.2)',
	            borderColor: 'rgba(11, 201, 4, 1)',
	            borderWidth: 1
	        }, {
	        	label: '실패',
	        	data: [jtoxf,0],
	        	backgroundColor: 'rgba(255, 54, 54, 0.2)',
	        	borderColor: 'rgba(255, 54, 54, 1)',
	        	borderWidth: 1
	        	}
	       ]
	    }
	});	
}

</script>

</html>